<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
    	<testsuite name="Tests">
    		<directory suffix=".php">tests</directory>
    	</testsuite>
    </testsuites>
    <php>
        <env name="GRAVITY_ENV" value="test" force="true" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./examples</directory>
            <exclude>
                <!-- Generates deprecated error when analysing code coverage -->
                <file>./examples/deprecating.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
